/* _content/Eczane/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hcyzkl5tly] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-hcyzkl5tly] {
    color: #0077cc;
}

.btn-primary[b-hcyzkl5tly] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hcyzkl5tly], .nav-pills .show > .nav-link[b-hcyzkl5tly] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-hcyzkl5tly] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-hcyzkl5tly] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hcyzkl5tly] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hcyzkl5tly] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-hcyzkl5tly] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/* _content/Eczane/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-h5mjxmjiip] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-h5mjxmjiip] {
  color: #0077cc;
}

.btn-primary[b-h5mjxmjiip] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-h5mjxmjiip], .nav-pills .show > .nav-link[b-h5mjxmjiip] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-h5mjxmjiip] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-h5mjxmjiip] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-h5mjxmjiip] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-h5mjxmjiip] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-h5mjxmjiip] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
